cython
pycocotools #git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
submitit
#torch #>=2.0.1 for cuda 11.7, module load cuda/11.7, gcc,
#torchvision #>=0.6.0 corresponding version
#git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
git+https://github.com/cocodataset/panopticapi.git
scipy
termcolor
addict
yapf
timm
mlflow==2.12.1
opencv-python
yapf==0.40.1